# EDA on Google's play store Apps

**Author Name:** Syed Ghazi Ali Zaidi \
**Email:** sghazializaidi@gmail.com

The data was downloaded from [link](https://www.kaggle.com/datasets/lava18/google-play-store-apps)

## *The data collected from the source has the following description:*

## About the Dataset

### Context
While numerous public datasets, such as those on Kaggle, provide Apple App Store data, equivalent datasets for Google Play Store apps are scarce across the web. Upon closer examination, it becomes evident that the iTunes App Store employs a well-organized, index-like structure, facilitating straightforward web scraping. In contrast, the Google Play Store utilizes sophisticated, modern techniques, including dynamic page loading with JQuery, presenting a more challenging environment for scraping.

### Content
Each entry in the dataset represents an app, featuring information such as category, rating, size, and more.

### Acknowledgements
The data presented here has been scraped from the Google Play Store. This valuable app information would not be accessible without the efforts involved in scraping.

### Inspiration
The dataset containing information on Play Store apps holds immense potential for guiding app development businesses toward success. Developers can extract actionable insights to target specific areas and capitalize on opportunities within the Android market!

# 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# 2. Data Loading and Exploration | Cleaning

- let's load the csv

In [2]:
df = pd.read_csv('./Datasets/googleplaystore.csv')

- Important code to run

In [3]:
# Set options to be maximum for rows and columns
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

# hide all warnings
import warnings 
warnings.filterwarnings('ignore')

- Looking at first 5 rows

In [4]:
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns in the dataset.")

There are 10840 rows and 13 columns in the dataset.

In [6]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

- To check which columns are numeric

In [8]:
df.describe()

            Rating       Reviews
count  9366.000000  1.084000e+04
mean      4.191757  4.441529e+05
std       0.515219  2.927761e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.477550e+04
max       5.000000  7.815831e+07

#### We analyzed that there must be 5 columns that are numeric, but we have 2

In [9]:
df[['Size','Installs','Price']].sample(5)

      Size     Installs Price
911    13M   1,000,000+     0
5052   53M         100+     0
7267   29M  10,000,000+     0
6763  373k   5,000,000+     0
5198   26M       1,000+     0

# Making columns numeric

# 1. Size

In [10]:
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
15M                    184
17M                    160
19M                    154
26M                    149
16M                    149
25M                    143
20M                    139
21M                    138
10M                    136
24M                    136
18M                    133
23M                    117
22M                    114
29M                    103
27M                     97
28M                     95
30M                     84
33M                     79
3.3M                    77
37M                     76
35M                     72
31M                     70
2.9M                    69
2.5M                    68
2.3M                    68
2.8M                    65
3.4M                    65
32M                     63
34M                     63
3.7M                    63
40M                     62
3.9M                    62
3.8M                    62
4.0M                    61
44M                     61
3.0M                    61
36M                     60
48M                     59
46M                     59
4.2M                    59
5.0M                    58
3.6M                    57
3.1M                    56
39M                     56
3.2M                    55
38M                     55
4.3M                    54
2.7M                    53
4.1M                    52
2.0M                    51
3.5M                    51
5.4M                    51
1.8M                    50
4.9M                    50
2.6M                    50
5.7M                    48
1.5M                    48
2.4M                    48
41M                     48
43M                     47
4.6M                    46
6.3M                    45
2.2M                    45
49M                     45
50M                     44
5.3M                    44
5.1M                    43
53M                     43
4.4M                    42
1.2M                    41
42M                     41
63M                     41
2.1M                    40
45M                     40
4.5M                    40
1.7M                    40
6.9M                    40
1.6M                    39
8.7M                    39
99M                     39
6.1M                    39
59M                     38
57M                     37
47M                     37
7.3M                    37
1.4M                    37
5.9M                    37
8.5M                    36
4.7M                    36
60M                     36
5.8M                    35
5.2M                    35
1.3M                    35
52M                     35
4.8M                    34
6.5M                    34
6.0M                    34
7.9M                    33
9.2M                    33
6.6M                    33
51M                     33
7.0M                    33
5.5M                    33
1.9M                    32
1.1M                    32
62M                     32
67M                     32
5.6M                    31
56M                     31
8.4M                    30
8.3M                    30
7.2M                    30
6.2M                    30
55M                     30
9.8M                    30
7.6M                    29
9.1M                    29
6.4M                    29
54M                     29
7.8M                    29
8.2M                    28
8.9M                    28
7.4M                    28
9.9M                    28
9.5M                    28
6.8M                    28
7.5M                    28
8.1M                    27
9.0M                    27
70M                     27
8.8M                    27
76M                     27
96M                     26
7.7M                    26
7.1M                    26
61M                     26
58M                     26
6.7M                    25
8.6M                    25
9.7M                    24
9.4M                    24
78M                     23
8.0M                    23
69M                     23
91M                     22
82M                     21
97M                     20
74M                     20
72M                     19
95M                     18
68M                     18
94M                     17
85M                     17
98M                     16
93M                     16
100M                    16
66M                     16
64M                     15
92M                     15
9.6M                    15
73M                     15
9.3M                    15
83M                     15
71M                     14
88M                     14
87M                     13
75M                     13
77M                     13
80M                     13
79M                     11
81M                     11
10.0M                   10
65M                     10
89M                      9
84M                      9
86M                      8
1.0M                     7
90M                      6
266k                     3
79k                      3
118k                     3
201k                     3
375k                     3
26k                      2
323k                     2
51k                      2
364k                     2
196k                     2
192k                     2
17k                      2
592k                     2
948k                     2
335k                     2
72k                      2
656k                     2
318k                     2
228k                     2
417k                     2
842k                     2
33k                      2
70k                      2
957k                     2
473k                     2
172k                     2
206k                     2
58k                      2
141k                     2
704k                     2
18k                      2
29k                      2
334k                     2
643k                     1
34k                      1
108k                     1
940k                     1
551k                     1
176k                     1
785k                     1
103k                     1
663k                     1
942k                     1
221k                     1
259k                     1
164k                     1
898k                     1
458k                     1
245k                     1
743k                     1
629k                     1
116k                     1
28k                      1
288k                     1
153k                     1
209k                     1
601k                     1
50k                      1
269k                     1
237k                     1
787k                     1
801k                     1
986k                     1
400k                     1
97k                      1
516k                     1
837k                     1
411k                     1
780k                     1
961k                     1
20k                      1
353k                     1
122k                     1
498k                     1
600k                     1
809k                     1
749k                     1
514k                     1
642k                     1
881k                     1
597k                     1
173k                     1
499k                     1
775k                     1
67k                      1
636k                     1
470k                     1
170k                     1
160k                     1
144k                     1
143k                     1
190k                     1
376k                     1
193k                     1
246k                     1
73k                      1
658k                     1
992k                     1
253k                     1
420k                     1
404k                     1
226k                     1
916k                     1
240k                     1
89k                      1
234k                     1
257k                     1
861k                     1
467k                     1
157k                     1
44k                      1
676k                     1
208k                     1
552k                     1
885k                     1
1020k                    1
582k                     1
970k                     1
39k                      1
879k                     1
161k                     1
994k                     1
309k                     1
485k                     1
914k                     1
903k                     1
608k                     1
500k                     1
54k                      1
562k                     1
847k                     1
688k                     1
811k                     1
270k                     1
48k                      1
329k                     1
523k                     1
921k                     1
874k                     1
981k                     1
784k                     1
280k                     1
24k                      1
518k                     1
754k                     1
892k                     1
154k                     1
860k                     1
387k                     1
626k                     1
913k                     1
371k                     1
82k                      1
924k                     1
746k                     1
203k                     1
314k                     1
239k                     1
220k                     1
730k                     1
756k                     1
91k                      1
293k                     1
74k                      1
14k                      1
317k                     1
78k                      1
902k                     1
540k                     1
818k                     1
81k                      1
939k                     1
169k                     1
45k                      1
475k                     1
965k                     1
545k                     1
61k                      1
283k                     1
655k                     1
714k                     1
93k                      1
313k                     1
930k                     1
27k                      1
975k                     1
23k                      1
695k                     1
556k                     1
526k                     1
232k                     1
624k                     1
8.5k                     1
41k                      1
292k                     1
11k                      1
862k                     1
899k                     1
378k                     1
980k                     1
251k                     1
696k                     1
544k                     1
525k                     1
920k                     1
779k                     1
853k                     1
720k                     1
713k                     1
772k                     1
241k                     1
857k                     1
953k                     1
865k                     1
872k                     1
121k                     1
322k                     1
437k                     1
506k                     1
887k                     1
613k                     1
243k                     1
569k                     1
778k                     1
683k                     1
319k                     1
186k                     1
840k                     1
647k                     1
191k                     1
373k                     1
598k                     1
976k                     1
716k                     1
585k                     1
982k                     1
222k                     1
219k                     1
55k                      1
691k                     1
511k                     1
951k                     1
963k                     1
25k                      1
554k                     1
351k                     1
414k                     1
816k                     1
496k                     1
728k                     1
238k                     1
549k                     1
954k                     1
444k                     1
717k                     1
210k                     1
609k                     1
308k                     1
705k                     1
306k                     1
904k                     1
175k                     1
350k                     1
383k                     1
454k                     1
421k                     1
812k                     1
442k                     1
412k                     1
459k                     1
478k                     1
782k                     1
721k                     1
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, dtype: int64

Observations:
1. Varies with device
2. M 
3. K

- We will remove `Varies with device` with `NAN`
- Remove M
- Remove k and dividing it by 1024

In [11]:
df['Size'].isna().sum()

0

In [12]:
# Sum of Varies with device available in Size column
df['Size'].loc[df['Size'].str.contains('Varies with device')].value_counts().sum()

1695

In [13]:
# Sum of M available in Size column
df['Size'].loc[df['Size'].str.contains('M')].value_counts().sum()

8829

In [14]:
# Sum of k available in Size column
df['Size'].loc[df['Size'].str.contains('k')].value_counts().sum()

316

In [15]:
df['Size'].value_counts().sum()

10840

#### Removing `Varies with device` with numpy NAN

In [16]:
df['Size'] = df['Size'].replace('Varies with device',np.nan)

In [17]:
df['Size'].isnull().sum()

1695

#### Replacing `M` with empty space

In [18]:
df['Size'] = df['Size'].str.replace('M','')

### Making function to handle `K` and divide it by 1024

In [19]:
def covert_k(size):
    if isinstance(size,str):
        if 'k' in size:
            return float(size.replace('k',"")) / 1024
    return size

- Calling the function

In [20]:
df['Size'] = df['Size'].apply(covert_k)
df['Size'].unique()

array(['19', '14', '8.7', '25', '2.8', '5.6', '29', '33', '3.1', '28',
       '12', '20', '21', '37', '2.7', '5.5', '17', '39', '31', '4.2',
       '7.0', '23', '6.0', '6.1', '4.6', '9.2', '5.2', '11', '24', nan,
       '9.4', '15', '10', '1.2', '26', '8.0', '7.9', '56', '57', '35',
       '54', 0.1962890625, '3.6', '5.7', '8.6', '2.4', '27', '2.5', '16',
       '3.4', '8.9', '3.9', '2.9', '38', '32', '5.4', '18', '1.1', '2.2',
       '4.5', '9.8', '52', '9.0', '6.7', '30', '2.6', '7.1', '3.7', '22',
       '7.4', '6.4', '3.2', '8.2', '9.9', '4.9', '9.5', '5.0', '5.9',
       '13', '73', '6.8', '3.5', '4.0', '2.3', '7.2', '2.1', '42', '7.3',
       '9.1', '55', 0.0224609375, '6.5', '1.5', '7.5', '51', '41', '48',
       '8.5', '46', '8.3', '4.3', '4.7', '3.3', '40', '7.8', '8.8', '6.6',
       '5.1', '61', '66', 0.0771484375, '8.4', 0.115234375, '44',
       0.6787109375, '1.6', '6.2', 0.017578125, '53', '1.4', '3.0', '5.8',
       '3.8', '9.6', '45', '63', '49', '77', '4.4', '4.8', '70', '6.9',
       '9.3', '10.0', '8.1', '36', '84', '97', '2.0', '1.9', '1.8', '5.3',
       '47', 0.54296875, 0.513671875, '76', '7.6', '59', '9.7', '78',
       '72', '43', '7.7', '6.3', 0.326171875, '34', '93', '65', '79',
       '100', '58', '50', '68', '64', '67', '60', '94', 0.2265625, '99',
       0.609375, '95', 0.00830078125, 0.0400390625, 0.28515625,
       0.0107421875, '80', '1.7', '74', '62', '69', '75', '98', '85',
       '82', '96', '87', '71', '86', '91', '81', '92', '83', '88', 0.6875,
       0.841796875, 0.8779296875, 0.369140625, 0.259765625, 0.3662109375,
       '1.3', 0.9521484375, 0.95703125, '4.1', '89', 0.6796875, 0.53125,
       0.5126953125, 0.8984375, 0.7607421875, 0.8330078125, 0.703125,
       0.6962890625, 0.75390625, 0.310546875, 0.056640625, 0.2353515625,
       0.19140625, 0.8369140625, 0.0498046875, 0.9306640625, 0.8447265625,
       0.2451171875, 0.908203125, 0.52734375, 0.3056640625, 0.728515625,
       0.1982421875, 0.025390625, 0.306640625, 0.2333984375, 0.3623046875,
       0.21484375, 0.712890625, 0.73828125, 0.0888671875, 0.2861328125,
       0.0166015625, 0.072265625, 0.013671875, 0.3095703125, 0.076171875,
       0.90234375, 0.880859375, 0.798828125, 0.0791015625, 0.9169921875,
       0.1650390625, 0.0439453125, 0.4638671875, 0.9423828125, '90',
       0.5322265625, 0.0595703125, 0.2763671875, 0.6396484375,
       0.697265625, 0.0908203125, 0.8515625, 0.1181640625, 0.314453125,
       '1.0', 0.953125, 0.16796875, 0.232421875, 0.5361328125,
       0.201171875, 0.931640625, 0.43359375, 0.7001953125, 0.205078125,
       0.5947265625, 0.30078125, 0.6884765625, 0.298828125, 0.8828125,
       0.4619140625, 0.1708984375, 0.341796875, 0.3740234375, 0.443359375,
       0.4111328125, 0.068359375, 0.79296875, 0.431640625, 0.822265625,
       0.4072265625, 0.40234375, 0.4482421875, 0.466796875, 0.3271484375,
       0.763671875, 0.7041015625, 0.419921875, 0.4189453125, 0.1875,
       0.1953125, 0.44921875, 0.7109375, 0.484375, 0.796875, 0.404296875,
       0.494140625, 0.8662109375, 0.5986328125, 0.2373046875,
       0.5556640625, 0.759765625, 0.6669921875, 0.578125, 0.3115234375,
       0.181640625, 0.8203125, 0.6318359375, 0.1865234375, 0.3642578125,
       0.4267578125, 0.583984375, 0.69921875, 0.5712890625, 0.958984375,
       0.216796875, 0.2138671875, 0.0537109375, 0.92578125, 0.3154296875,
       0.6748046875, 0.4990234375, 0.9287109375, 0.9404296875,
       0.0244140625, 0.541015625, 0.3427734375, 0.0263671875, 0.080078125,
       0.203125, 0.8916015625, 0.501953125, 0.5380859375, 0.0283203125,
       0.1005859375, 0.876953125, 0.7255859375, 0.11328125, 0.1494140625,
       0.2041015625, 0.3447265625, 0.4873046875, 0.1689453125,
       0.5830078125, 0.7900390625, 0.119140625, 0.4013671875, 0.390625,
       0.7822265625, 0.7685546875, 0.2314453125, 0.048828125,
       0.6279296875, 0.962890625, 0.0947265625, 0.50390625, 0.8173828125,
       0.76171875, 0.9384765625, 0.2626953125, 0.01953125, 0.486328125,
       0.5859375, 0.7314453125, 0.626953125, 0.8603515625, 0.0703125,
       0.640625, 0.5869140625, 0.2158203125, 0.22265625, 0.10546875,
       0.91796875, 0.171875, 0.0322265625, 0.6474609375, 0.033203125,
       0.919921875, 0.2529296875, 0.16015625, 0.447265625, 0.2392578125,
       0.6142578125, 0.02734375, 0.28125, 0.7568359375, 0.7666015625,
       0.62109375, 0.89453125, 0.970703125, 0.3017578125, 0.4736328125,
       0.892578125, 0.8818359375, 0.59375, 0.48828125, 0.052734375,
       0.548828125, 0.8271484375, 0.9345703125, 0.671875, 0.7919921875,
       0.263671875, 0.046875, 0.3212890625, 0.5107421875, 0.8994140625,
       0.853515625, 0.9580078125, 0.765625, 0.2734375, 0.0234375,
       0.505859375, 0.736328125, 0.87109375, 0.150390625, 0.83984375,
       0.35546875, 0.3779296875, 0.611328125, 0.1572265625, 0.8583984375,
       0.0380859375, 0.947265625, 0.166015625, 0.1376953125, 0.15625,
       0.140625, 0.1396484375, 0.185546875, 0.3671875, 0.1884765625,
       0.240234375, 0.0712890625, 0.642578125, 0.96875, 0.2470703125,
       0.41015625, 0.39453125, 0.458984375, 0.220703125, 0.234375,
       0.0869140625, 0.228515625, 0.2509765625, 0.8408203125,
       0.4560546875, 0.1533203125, 0.04296875, 0.66015625, 0.0654296875,
       0.5390625, 0.8642578125, 0.99609375, 0.568359375, 0.6044921875],
      dtype=object)

In [21]:
df['Size'] = df['Size'].astype('float64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.1+ MB

# 2. Installs

In [22]:
df['Installs'].sample(5)

2323        500,000+
6976      1,000,000+
7679          1,000+
1986    100,000,000+
4090     10,000,000+
Name: Installs, dtype: object

**Observations:**
1. Remove `+`
2. Remove `,`
3. Convert astype to int64

In [23]:
df['Installs'] = df['Installs'].str.replace('+','')
df['Installs'] = df['Installs'].str.replace(',','')
df['Installs'] = df['Installs'].astype('int64')
df['Installs'].sample(10)

10554           5
9442         1000
8553        10000
6433          100
5845           10
9648           10
6264       100000
1323     10000000
8885          100
2165      5000000
Name: Installs, dtype: int64

# 3. Price

In [24]:
df['Price'].sample(5)

9696     0
2852     0
10503    0
4683     0
7814     0
Name: Price, dtype: object

## **Observations:**
#### 1. `$` sign is what causing the issue, we need to remove it

In [25]:
df['Price'] = df['Price'].str.replace('$','')
df['Price'] = df['Price'].astype('float64')