# EDA on Google's play store App

**Author Name:** Syed Ghazi Ali Zaidi\
**Email:** sghazializaidi@gmail.com

The data was collected from [link](https://www.kaggle.com/datasets/lava18/google-play-store-apps)

##  *The dataset collected from the source has the following description:*

`About Dataset`

Context
While many public datasets (on Kaggle and the like) provide Apple App Store data, there are not many counterpart datasets available for Google Play Store apps anywhere on the web. On digging deeper, I found out that iTunes App Store page deploys a nicely indexed appendix-like structure to allow for simple and easy web scraping. On the other hand, Google Play Store uses sophisticated modern-day techniques (like dynamic page load) using JQuery making scraping more challenging.

Content
Each app (row) has values for catergory, rating, size, and more.

Acknowledgements
This information is scraped from the Google Play Store. This app information would not be available without it.

Inspiration
The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market!

In [1]:
# import libaraies
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ydata_profiling as yd
import numpy as np

c:\Users\Ghazi ali\miniconda3\envs\ydata_profiling\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('./Datasets/googleplaystore.csv')

In [3]:
# profile = yd.ProfileReport(df)
# profile.to_file(output_file="./outputs/GoogleApp_profiling.html")

In [4]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [6]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
3678,XX HD Video downloader-Free Video Downloader,VIDEO_PLAYERS,4.1,7624,6.0M,"1,000,000+",Free,0,Everyone,Video Players & Editors,"April 20, 2018",1.9,4.0.3 and up
7965,CV Builder,BUSINESS,3.8,203,5.9M,"10,000+",Free,0,Everyone,Business,"September 30, 2016",2.2.1.0,2.3 and up
2621,LinkedIn,SOCIAL,4.2,1225367,Varies with device,"100,000,000+",Free,0,Everyone,Social,"August 2, 2018",4.1.202,5.0 and up
8819,Synology Drive,PRODUCTIVITY,3.2,368,Varies with device,"100,000+",Free,0,Everyone,Productivity,"August 2, 2018",Varies with device,5.0 and up
9006,Hausa Radio,NEWS_AND_MAGAZINES,4.4,3375,4.2M,"100,000+",Free,0,Everyone,News & Magazines,"July 31, 2018",4.1,4.1 and up
10425,FH CODE,TOOLS,NaN,13,3.6M,100+,Free,0,Everyone,Tools,"February 26, 2018",FH CODE 1.0,2.1 and up
1266,Sportractive GPS Running Cycling Distance Tracker,HEALTH_AND_FITNESS,4.8,48276,7.5M,"1,000,000+",Free,0,Everyone,Health & Fitness,"August 4, 2018",3.0.6,4.4 and up
306,The Vietnam Story - Fun Stories,COMICS,4.5,438,3.4M,"10,000+",Free,0,Everyone,Comics,"December 27, 2017",1.0,2.3 and up
9002,DW Security,BUSINESS,5.0,6,15M,100+,Free,0,Everyone,Business,"July 25, 2018",69.1,4.1 and up
4976,"WeatherClear - Ad-free Weather, Minute forecast",WEATHER,4.5,3252,3.8M,"50,000+",Free,0,Everyone,Weather,"June 25, 2017",1.2.6,4.1 and up

In [7]:
df.describe()

            Rating       Reviews
count  9366.000000  1.084000e+04
mean      4.191757  4.441529e+05
std       0.515219  2.927761e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.477550e+04
max       5.000000  7.815831e+07

# We need to make the below columns numeric

In [8]:
df[['Size','Installs','Price']].head()

   Size     Installs Price
0   19M      10,000+     0
1   14M     500,000+     0
2  8.7M   5,000,000+     0
3   25M  50,000,000+     0
4  2.8M     100,000+     0

### Starting with size, first look at the unique values

In [9]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

### Group by them to see the value count

In [10]:
df['Size'].value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

# Check that how many MBs are there in one KB? and how to calculate?
Steps:
1. Convert kb into MB
2. Then remove Mb from all numbers
3. Handle `varies with device`

#### Let's check for missing values

In [11]:
df['Size'].isnull().sum()

0

# Now checking for Installs
1. We need to remove the `+` sign

In [12]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

# Checking for Price column (for making it numeric)
1. Removing `$`sign may help to make it numeric
2. After that we can do binning

In [13]:
df['Price'].value_counts()

Price
0         10040
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64

### For Size column to make it numeric

In [14]:
df['Size'] = df['Size'].replace('Varies with device', np.nan)

In [15]:
# df['Size_Mb'] = pd.to_numeric(df['Size']).str.replace('M','')
df['Size'] = df['Size'].str.replace('M', '')

In [16]:
for index, row in df.iterrows():
    if 'k' in str(row['Size']):
        # Replace 'k' with empty string before dividing
        df.at[index, 'Size'] = str(row['Size']).replace('k', '')
        df.at[index, 'Size'] = pd.to_numeric(df.at[index, 'Size']) / 1024

In [17]:
df['Size'].unique()

array(['19', '14', '8.7', '25', '2.8', '5.6', '29', '33', '3.1', '28',
       '12', '20', '21', '37', '2.7', '5.5', '17', '39', '31', '4.2',
       '7.0', '23', '6.0', '6.1', '4.6', '9.2', '5.2', '11', '24', nan,
       '9.4', '15', '10', '1.2', '26', '8.0', '7.9', '56', '57', '35',
       '54', 0.1962890625, '3.6', '5.7', '8.6', '2.4', '27', '2.5', '16',
       '3.4', '8.9', '3.9', '2.9', '38', '32', '5.4', '18', '1.1', '2.2',
       '4.5', '9.8', '52', '9.0', '6.7', '30', '2.6', '7.1', '3.7', '22',
       '7.4', '6.4', '3.2', '8.2', '9.9', '4.9', '9.5', '5.0', '5.9',
       '13', '73', '6.8', '3.5', '4.0', '2.3', '7.2', '2.1', '42', '7.3',
       '9.1', '55', 0.0224609375, '6.5', '1.5', '7.5', '51', '41', '48',
       '8.5', '46', '8.3', '4.3', '4.7', '3.3', '40', '7.8', '8.8', '6.6',
       '5.1', '61', '66', 0.0771484375, '8.4', 0.115234375, '44',
       0.6787109375, '1.6', '6.2', 0.017578125, '53', '1.4', '3.0', '5.8',
       '3.8', '9.6', '45', '63', '49', '77', '4.4', '4.8', '70', '6.9',
       '9.3', '10.0', '8.1', '36', '84', '97', '2.0', '1.9', '1.8', '5.3',
       '47', 0.54296875, 0.513671875, '76', '7.6', '59', '9.7', '78',
       '72', '43', '7.7', '6.3', 0.326171875, '34', '93', '65', '79',
       '100', '58', '50', '68', '64', '67', '60', '94', 0.2265625, '99',
       0.609375, '95', 0.00830078125, 0.0400390625, 0.28515625,
       0.0107421875, '80', '1.7', '74', '62', '69', '75', '98', '85',
       '82', '96', '87', '71', '86', '91', '81', '92', '83', '88', 0.6875,
       0.841796875, 0.8779296875, 0.369140625, 0.259765625, 0.3662109375,
       '1.3', 0.9521484375, 0.95703125, '4.1', '89', 0.6796875, 0.53125,
       0.5126953125, 0.8984375, 0.7607421875, 0.8330078125, 0.703125,
       0.6962890625, 0.75390625, 0.310546875, 0.056640625, 0.2353515625,
       0.19140625, 0.8369140625, 0.0498046875, 0.9306640625, 0.8447265625,
       0.2451171875, 0.908203125, 0.52734375, 0.3056640625, 0.728515625,
       0.1982421875, 0.025390625, 0.306640625, 0.2333984375, 0.3623046875,
       0.21484375, 0.712890625, 0.73828125, 0.0888671875, 0.2861328125,
       0.0166015625, 0.072265625, 0.013671875, 0.3095703125, 0.076171875,
       0.90234375, 0.880859375, 0.798828125, 0.0791015625, 0.9169921875,
       0.1650390625, 0.0439453125, 0.4638671875, 0.9423828125, '90',
       0.5322265625, 0.0595703125, 0.2763671875, 0.6396484375,
       0.697265625, 0.0908203125, 0.8515625, 0.1181640625, 0.314453125,
       '1.0', 0.953125, 0.16796875, 0.232421875, 0.5361328125,
       0.201171875, 0.931640625, 0.43359375, 0.7001953125, 0.205078125,
       0.5947265625, 0.30078125, 0.6884765625, 0.298828125, 0.8828125,
       0.4619140625, 0.1708984375, 0.341796875, 0.3740234375, 0.443359375,
       0.4111328125, 0.068359375, 0.79296875, 0.431640625, 0.822265625,
       0.4072265625, 0.40234375, 0.4482421875, 0.466796875, 0.3271484375,
       0.763671875, 0.7041015625, 0.419921875, 0.4189453125, 0.1875,
       0.1953125, 0.44921875, 0.7109375, 0.484375, 0.796875, 0.404296875,
       0.494140625, 0.8662109375, 0.5986328125, 0.2373046875,
       0.5556640625, 0.759765625, 0.6669921875, 0.578125, 0.3115234375,
       0.181640625, 0.8203125, 0.6318359375, 0.1865234375, 0.3642578125,
       0.4267578125, 0.583984375, 0.69921875, 0.5712890625, 0.958984375,
       0.216796875, 0.2138671875, 0.0537109375, 0.92578125, 0.3154296875,
       0.6748046875, 0.4990234375, 0.9287109375, 0.9404296875,
       0.0244140625, 0.541015625, 0.3427734375, 0.0263671875, 0.080078125,
       0.203125, 0.8916015625, 0.501953125, 0.5380859375, 0.0283203125,
       0.1005859375, 0.876953125, 0.7255859375, 0.11328125, 0.1494140625,
       0.2041015625, 0.3447265625, 0.4873046875, 0.1689453125,
       0.5830078125, 0.7900390625, 0.119140625, 0.4013671875, 0.390625,
       0.7822265625, 0.7685546875, 0.2314453125, 0.048828125,
       0.6279296875, 0.962890625, 0.0947265625, 0.50390625, 0.8173828125,
       0.76171875, 0.9384765625, 0.2626953125, 0.01953125, 0.486328125,
       0.5859375, 0.7314453125, 0.626953125, 0.8603515625, 0.0703125,
       0.640625, 0.5869140625, 0.2158203125, 0.22265625, 0.10546875,
       0.91796875, 0.171875, 0.0322265625, 0.6474609375, 0.033203125,
       0.919921875, 0.2529296875, 0.16015625, 0.447265625, 0.2392578125,
       0.6142578125, 0.02734375, 0.28125, 0.7568359375, 0.7666015625,
       0.62109375, 0.89453125, 0.970703125, 0.3017578125, 0.4736328125,
       0.892578125, 0.8818359375, 0.59375, 0.48828125, 0.052734375,
       0.548828125, 0.8271484375, 0.9345703125, 0.671875, 0.7919921875,
       0.263671875, 0.046875, 0.3212890625, 0.5107421875, 0.8994140625,
       0.853515625, 0.9580078125, 0.765625, 0.2734375, 0.0234375,
       0.505859375, 0.736328125, 0.87109375, 0.150390625, 0.83984375,
       0.35546875, 0.3779296875, 0.611328125, 0.1572265625, 0.8583984375,
       0.0380859375, 0.947265625, 0.166015625, 0.1376953125, 0.15625,
       0.140625, 0.1396484375, 0.185546875, 0.3671875, 0.1884765625,
       0.240234375, 0.0712890625, 0.642578125, 0.96875, 0.2470703125,
       0.41015625, 0.39453125, 0.458984375, 0.220703125, 0.234375,
       0.0869140625, 0.228515625, 0.2509765625, 0.8408203125,
       0.4560546875, 0.1533203125, 0.04296875, 0.66015625, 0.0654296875,
       0.5390625, 0.8642578125, 0.99609375, 0.568359375, 0.6044921875],
      dtype=object)

In [18]:
df['Size'].value_counts()

Size
11              198
12              196
14              194
13              191
15              184
               ...
0.419921875       1
0.4189453125      1
0.1953125         1
0.44921875        1
0.6044921875      1
Name: count, Length: 460, dtype: int64

## Converting the column to float datatype

In [19]:
# df['Size'] = pd.to_numeric(df['Size'],errors='coerce',downcast='float')

In [20]:
df['Size'] = df['Size'].astype(float, errors='ignore')

In [21]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [22]:
df['Size'].isna().sum()

1695

## Successfully converted to float64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.1+ MB

#### Double checking as the size of it was 892kb now it is in mb

In [24]:
df.loc[df['App'] == 'EP RSS Reader']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9696,EP RSS Reader,COMMUNICATION,3.8,4,0.871094,100+,Free,0,Everyone,Communication,"July 16, 2018",0.99,4.0.3 and up

# Now we will look into Installs

In [25]:
df['Installs'].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

we need to remove the `+`

In [26]:
df['Installs'] = df['Installs'].str.replace('+','')

In [27]:
df['Installs'].value_counts()

Installs
1,000,000        1579
10,000,000       1252
100,000          1169
10,000           1054
1,000             907
5,000,000         752
100               719
500,000           539
50,000            479
5,000             477
100,000,000       409
10                386
500               330
50,000,000        289
50                205
5                  82
500,000,000        72
1                  67
1,000,000,000      58
0                  15
Name: count, dtype: int64

We first remove `+` then remove `,`

In [28]:
# df['Installs'] = df['Installs'].astype('Int64')  # Because it has ',' so it can't run

df['Installs'] = df['Installs'].str.replace(',','')
df['Installs'] = df['Installs'].astype('int64')

# Lastly we will make Price into numeric

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  int64
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 1.1+ MB

In [30]:
df['Price'].value_counts()

Price
0         10040
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64

In [31]:
df['Price'] = df['Price'].str.replace('$','')

In [32]:
df['Price'] = df['Price'].astype('float64')

## Successfully made numeric 
1. Size
2. Installs
3. Price

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  int64
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.1+ MB