# Feature Scaling

In [1]:
# pip install scikit-learn

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {'Values':[10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

df.head()

   Values
0      10
1      20
2      30
3      40
4      50

### We will first use Min max method and make the range from 0 to 1, 0 being least and 1 being highest

# 1. Min Max method

In [4]:
from sklearn.preprocessing import MinMaxScaler 

scaler = MinMaxScaler()
# new column scaled_values and we converted Values column
df['Scaled_values'] = scaler.fit_transform(df[['Values']])

df.head()

   Values  Scaled_values
0      10           0.00
1      20           0.25
2      30           0.50
3      40           0.75
4      50           1.00

# 2. Standard Scaler or Z-score normalization

### This will make the values from - to +

In [5]:
data = {'Values':[10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# new column scaled_values and we converted Values column
df['Scaled_values'] = scaler.fit_transform(df[['Values']])

df.head()

   Values  Scaled_values
0      10      -1.414214
1      20      -0.707107
2      30       0.000000
3      40       0.707107
4      50       1.414214

# 3. Robust Scaling

#### This is done based on IQR has values from - to +

In [6]:
data = {'Values':[10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

# new column scaled_values and we converted Values column
df['Scaled_values'] = scaler.fit_transform(df[['Values']])

df.head()

   Values  Scaled_values
0      10           -1.0
1      20           -0.5
2      30            0.0
3      40            0.5
4      50            1.0

# 4. Logrithmic scaling/normalization

In [7]:
data = {'Values':[10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

import numpy as np
df['Scaled_values_Log'] = np.log(df['Values']) 
df['Scaled_values_Log2'] = np.log2(df['Values']) 
df['Scaled_values_Log10'] = np.log10(df['Values']) 

df.head()

   Values  Scaled_values_Log  Scaled_values_Log2  Scaled_values_Log10
0      10           2.302585            3.321928             1.000000
1      20           2.995732            4.321928             1.301030
2      30           3.401197            4.906891             1.477121
3      40           3.688879            5.321928             1.602060
4      50           3.912023            5.643856             1.698970